.main-page {
    background-image: url('./Components/img/mountain.jpeg');
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.results-container {
    /* background-color: #302B27; */
    /* width: 100vw;
    height: 400px;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.5%; */
}